VITE_AMAP_KEY=5bbc41efe7a1542204e23b3fa3e579a6
VITE_AMAP_SECURITY_CODE=1104d21bbc2ad9d5690b10b9c248935e
VITE_SUPABASE_URL=https://rlgagypfozpcaeehctjv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_RtMhcf1YrDL5atBrO_EHXQ_CokkDawe
VITE_PLATFORM_FEE_RATE=0
